html
    head
        title= title
        script
            include script.js

    body
        h1= message
        .form-container
            //input(type=text, placeholder="Ingrese su nombre", value=inputValue, onchange='printValue($event)' )
            button(type=submit, onclick ="addNow()" ) Console!